name: Check des ordres

on: push

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
      - name: Set up JDK 13
        uses: actions/setup-java@v1
        with:
          java-version: 1.13
      - name: Build HL
        run: chmod +x ./gradlew && ./gradlew shadowJar && ls -la T3HL-common/build/libs
      - name: Generate list
        run: ./gradlew check-orders:checkOrders
      - name: Clone LL repo
        run: git clone https://github.com/Club-INTech/TechTheTide-LowLevel LL && cd LL

      - name: Checkout most recent branch
        working-directory: ./LL
        run: branch=`git branch -a --sort=-committerdate | head -1`; git checkout $branch
      - name: Retrieve performCheck script
        working-directory: ./LL
        #run: wget https://raw.githubusercontent.com/Club-INTech/TechTheTide-HighLevel/ TODO
        run: git log --oneline | head -1

      - name: Perform check
        run: echo "performCheck.py" #./performCheck.py

      - name: cat order list
        run: cat .hl_order_list
